/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/


/*---------------------------------------/* 
 # ELEMENTS
/*---------------------------------------*/

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

.o-container {
    margin-left: 16px;
    margin-right: auto;
    width: 100%;
}

.c-header {
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 32px;
}


.c-logo__symbol {
    height: 100%;
    margin-bottom: 8px;
}

        /*
    Component: mobile nav
    ---
    Dedicated mobile nav component
*/

.aboutme_logos {
    display: flex;
}

.aboutmelogo_margin {
    margin-right: 28px;
}

.o-reset-button-index {
    border: none;
    background: none;
}

.o-svg-index {
    text-align: center;
}

.o-container-index {
    margin-left: 32px;
    margin-right: 32px;
}

.o-svg-margin {
    margin-top: 40px;
}
/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/

.c-header-index{
    text-align: right;
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/

