.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.led-container,
.button-container {
  display: flex;
}

.led {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border-color: black;
  border-radius: 1px;
}


button {
  width: 80px;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
  background-color: gray;
}

